/* src/components/Home/Home.css */

.home .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .intro {
  text-align: center;
}

.home .intro img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  border: 8px solid #ffffff;
  object-fit: cover;
}

.home .intro h1 {
  font-size: 30px;
  color: #302e4d;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  margin: 20px 0 5px;
}

.home .intro span {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 22px;
  color: #504e70;
}

.home .intro .social-links {
  margin-top: 25px;
}

.home .intro .social-links a {
  height: 35px;
  width: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  margin: 0 4px;
  border-radius: 40%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.home .intro .social-links a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
